body {
  background-color: #fff;
}

.container {
  background-color: purple;
  border:  5px solid red;
  padding: 45px;
  height: 1200px;
  border-right: 5px grey;
  border-left: 5px grey;
}

.main-wrap {
  background-color: bisque;
  display: flex;
  flex-direction: row;
}

/* vvvvvvvv Header vvvvvvvv */
/* -------- Dashboar/Navbar -------- */

.dashboard {
  position: relative;
  width: 100%;
  height: 45px;
  background-color: white;
  padding: 10px;
}

.dashboard * {
  /*width: 100%;*/
}

.region-dashboard a {
  font-style: normal;
  text-decoration: none;
  color: #fff;
}

.region-dashboard a:hover {
  color: #red;
}

#logo img {
  display: none;
}

#page-wrapper > div > header > div.dashboard > div.region.region-dashboard {
display: flex;
/*flex-wrap: wrap;*/
flex-direction: row;
}

/* -------- Search Bar -------- */

#block-search-form {
  position: absolute;
  top: 12px; left: 15px;
  width: 300px;
  display: flex;
  flex-direction: row;
  /*margin-bottom: 40px;*/
}

#edit-search-block-form--2 {
  border-radius: 6px;
  box-shadow: inset 0px 0px 10px grey;
  border: 1px solid #fff;
  width: 200px;
  height: 25px;
}

#edit-submit {
  width: 75px;
  padding: 6px;
  border: none;
  border-radius: 4px;
  background-color: teal;
  box-shadow: outset 0px 0px 3px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

/* -------- User Menu -------- */

#block-system-user-menu {
  position: absolute;
  top: 0px; right: 65px;
  width: 90px;
}

#block-system-user-menu > div.content > ul {
  padding-left: 5px;
  /*border: 2px solid red;*/
  position: absolute;
  top: 0px; right: 65px;
  width: 100px;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: height 2s, text-shadow 2s, background-color 1s;
  transition-timing-function: ease-out;
  height: 28px;

  background-color: #fff;
  border-radius: 4px;
}

#block-system-user-menu > div.content > ul:hover {
  height: 225px;
  background-color: rgba(255, 255, 255, 0.9);
  text-shadow: 0px 0px 1px;
}

#block-system-user-menu > div.content > ul:before {
  opacity: 1;
  transition: opacity 1s linear;
  content: url('../img/min.svg')
}


ul li.leaf {
  list-style: none !important;
  display: flex;
  flex-direction: column !important;
}

#block-system-user-menu > div.content > ul > li > a {
  color: #000;
}

#block-system-user-menu > div.content > ul > li:after {
  color: #000;
  content: "_________" ;

}

#block-system-user-menu > div.content > ul > li.last.leaf > a {
  width: 55px;
}


/* -------- Main_Menu -------- */
nav {
  background-color: purple;
}
/* -------- Header-Wrap -------- */
.header-wrap {
  background-color: teal;
}
/* ^^^^^^^^ Header ^^^^^^^^ */


/* vvvvvvvv Sidebar vvvvvvvv */
/* -------- Social-Wrap -------- */
.social-wrap {
  background-color: darkgreen;
}

/* -------- Sidebar-Wrap -------- */
.sidebar-wrap {
  background-color: lime;
}
/* ^^^^^^^^ Sidebar ^^^^^^^^ */


/* vvvvvvvv Content vvvvvvvv */
/* -------- Content-Wrap -------- */
.content-wrap {
  background-color: pink;
}
/* ^^^^^^^^ Content ^^^^^^^^ */

/* vvvvvvvv Footer vvvvvvvv */
/* -------- Footer-Wrap -------- */
.footer-wrap {
  background-color: teal;
  height: 100px;
}
/* ^^^^^^^^ Footer ^^^^^^^^ */
